FORECAST_API_KEY=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_ENCRYPTION=tls
SMTP_USERNAME=shoestagram00@gmail.com
SMTP_PASSWORD=
SMTP_FROM_EMAIL=shoestagram00@gmail.com
SMTP_FROM_NAME=Shoestagram
SMTP_VERIFY_PEER=true
SHOESTAGRAM_ADMIN_EMAIL=shoestagram00@gmail.com
SHOESTAGRAM_STAFF_EMAIL=shoestagramstaff@gmail.com
SHOESTAGRAM_ADMIN_INITIAL_PASSWORD=
SHOESTAGRAM_STAFF_INITIAL_PASSWORD=
